.center-bt{
    display:flex;
    justify-content: center;
}
.msg{
    display: flex;
    flex-direction: column;
    
}
.bordered {
    padding: 0.3rem;
    margin: 0.3rem;
    border: 0.3rem solid rgb(20, 99, 189);
}