<h2>Reactivos: <small> Dinámicos </small></h2>
<hr />

<form autocomplete="off">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Nombre de la persona" required />
      <span class="form-text text-danger"> Este campo es obligatorio </span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Agregar favorito"
          (keyup.enter)="(1)"
        />

        <button class="btn btn-outline-primary" type="button" (click)="(1)">
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de Juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <!-- <div class="col-sm-9">
      <div class="input-group mb-1" *ngFor="let item of list">
        <input class="form-control" />
        <button class="btn btn-outline-danger" type="button" (click)="(1)">
          Eliminar
        </button>
      </div>
    </div> -->
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary float-end" (click)="1">Guardar</button>
    </div>
  </div>
</form>

<!-- <span>Persona</span>
<pre>{{ persona | json }}</pre> -->
