<div class="child bordered">

    <h2>Child</h2>
    <div class="center-bt">

        <div class="msg"><span class="center-bt"> message: {{ msg}}</span>
        <div>
            <button type="button" class="btn btn-primary" (click)="childServiceMsg()">Use Service</button>
            <button type="button" class="btn btn-primary" (click)="ouputMsg()">Use Output Property</button>
            <button type="button" class="btn btn-primary" (click)="obsChildMsg()">Use Observable</button>
        </div>
    </div>
</div>