<div class="card">
  <h1>Tareas</h1>
</div>
<div class="card bordered">
  <div class="card-title">
    <h2>Parent</h2>
    <div class="center-bt">
      <div class="msg"><span class="center-bt"> message: {{ childMessage}}</span>
      
        <div>
        <button type="button" class="btn btn-primary" (click)="parentServiceMsg()">Use service</button>
        <button type="button" class="btn btn-primary" (click)="inputMsg()">Use Input Property</button>
        <button type="button" class="btn btn-primary" (click)="observableMsg()">Use Observable</button>
      </div></div>
    </div>

  </div>
  <app-child [msg]="parentMessage" (childMsg)="getChildMsg($event)"></app-child>

</div>